.RC_ControlPanel__input
  // resets
  margin 0
  border 0
  padding 0
  display inline-block
  vertical-align middle
  white-space normal
  line-height 1
  -webkit-box-sizing content-box
  -moz-box-sizing content-box
  box-sizing content-box

  border-radius 0

  padding 8px 12px

  &:focus
    outline 0
    border none
